# Virtual Environments (Indi ma-upload ang dako nga venv folders)
.venv/
venv/

# Python Cache
__pycache__/
*.pyc
.pytest_cache/

# Sensitive Files & Database
.env
*.db
app.db

# VS Code settings
.vscode/